name: Lint Markdown

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli
      - name: Lint
        run: markdownlint "**/*.md" --ignore node_modules
