name: Validate Bicep

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  bicep-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Azure CLI + Bicep
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
          az bicep install
      - name: Build Bicep
        run: az bicep build --file iac/bicep/main.bicep
